.success-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  margin-top: 10vh;
}

.success-message {
    color: green;
    font-size: 2rem;
    font-weight: 700;
}

.success-btn {
  width: fit-content;
  padding: 10px;
  font-size: 1rem;
  background: lightblue;
  border-radius: 3px;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  transition: ease-in-out 200ms;
  border: 0;
}

.success-btn:hover {
  background: rgb(210, 236, 245);
}
